<ng-container *ngIf="images.length; else spinner">
  <div
    class="container"
    infiniteScroll
    [infiniteScrollDistance]="8"
    (scrolled)="onScroll()"
  >
    <div class="mt-2">
      <div class="row row-eq-height d-flex justify-content-center">
        <div
          class="col-12 pr-lg-2 col-lg-3 col-xl-3 mb-3"
          *ngFor="let picture of images; let i = index"
        >
          <div class="h-100 m-2" [class.selected]="i === indexSelected">
            <img
              [src]="picture.cropped_picture"
              (click)="goToDetails(picture.id, i)"
              class="p-2 img-fluid"
            />
          </div>
        </div>
      </div>
    </div>
  </div>
</ng-container>
<ng-template #spinner>
  <div class="h-100 w-100 custom-loading">
    <div
      class="mt-2 container d-flex flex-column justify-content-center align-items-center"
    >
      <div class="spinner-border text-color float-right" role="status">
        <span class="text-color sr-only">Loading...</span>
      </div>
      <div class="h5 text-color pt-2 mt-2">Loading ...</div>
    </div>
  </div>
</ng-template>
<ng-template #tipContent> </ng-template>
