<!--The content below is only a placeholder and can be replaced.-->

<div class="bg-overlay"></div>

<div class="container mt-4">
  <div class="mt-4 main-container p-2 p-lg-0">
    <mat-card class="mt-5">
      <h3
        class="my-4 pb-1 d-flex text-color border-bottom justify-content-center font-weight-normal mb-3"
      >
        Images Galery
      </h3>
      <app-image-list
        (hasToScroll)="onScroll()"
        [loading]="loading"
        [images]="images"
      ></app-image-list>
    </mat-card>
  </div>

  <!--
       <div class="mt-2">
      <div class="row row-eq-height d-flex justify-content-center">
        <div
          class="col-12  pr-lg-2 col-lg-3 col-xl-3 mb-3"
          *ngFor="let picture of images"
        >
          <div class="h-100 m-2">
            <img [src]="picture.cropped_picture" (click)="getImageDetails(picture.id)"class="p-2 img-fluid" />
          </div>
        </div>
      </div>
    </div>
    -->
</div>
<router-outlet></router-outlet>
