<div>
  <ngb-carousel *ngIf="imagesCarrousel">
    <ng-template ngbSlide *ngFor="let image of imagesCarrousel; let i = index">
      <ng-container *ngIf="!loading; else spinner">
        <div *ngIf="image.idParentArray === indexSelected">
          <lib-ngx-image-zoom
            [thumbImage]="image.cropped_picture"
            [fullImage]="image.full_picture"
          ></lib-ngx-image-zoom>
        </div>
      </ng-container>
    </ng-template>
  </ngb-carousel>
</div>
<ng-template #spinner>
  <div class="clearfix border-0">
    <div class="spinner-border float-right" role="status">
      <span class="sr-only">Loading...</span>
    </div>
  </div>
</ng-template>
